# Python >= 3.9
matplotlib==3.9.2
numpy==1.26.4
pandas==2.3.3
pandas-stubs==2.2.2.240807
scipy==1.13.1
#===================================
#此路径存放工程所需四种数据源：data/raw_sensor
#此路径存放融合输出：data/output_tracks
#此路径存放加权平均融合代码：src/core/weighted_fusion.py
#此路径存放本地数据流回放引擎类：src/ingestion/replayer.py    time.sleep(sleep_time)此语句据决定是回放还是一下全输出
#此路径存放空间坐标转换类：src/utils/geo_transform.py
#===================================

#==============================
#在实时显示界面添加了每个航迹的来源source，删除了速度的显示
#目前融合数据航速变化比较跳跃，初步判断是雷达速度导致的
#下一步计划：设置动态权重，在经纬度融合时，将四种数据源设置成差不多的概率；在动态数据融合时，将雷达权重设计成较小的参数。

#=================================
#将速度改为加权平均融合，设置了与位置融合不一样的权重。
#修改了对地航向的融合策略
#===================================

#===================================
#1、航迹更新中位置改为匀速外推到当前数据源的时刻再进行融合。
#2、速度加入前置处理，确保都符合规范
#3、速度更新变更：如果数据来源是ais直接沿用，其他数据外推去算
#4、设置微小时间差抑制的机制，减小极短时间带来的巨大误差。
#=======================================


#=======================
#目前改变了bds的融合方式

#=======================================
#AIS、R-mode：具备全局唯一标识（MMSI）的高频信源（AIS、R-Mode）直接触发航迹状态机的初始化或更新
#Radar：雷达数据采用 3000ms 固定时间窗机制缓存，窗口闭合后通过一阶线性运动学外推预测骨干航迹坐标，并利用匈牙利算法求取全局距离代价最小的最优二分匹配。
#BDS：已剔除标识的北斗（BDS）数据舍弃时间窗积攒，采用事件驱动模式即时匹配，并引入基于时间膨胀的动态距离波门（如基础容差加机动补偿），以吸收低频长时外推造成的空间脱靶误差
#目前Radr数据源还是采用的未经优化的数据源
#============================================

